.navbar.navbar-inverse  {
  width:100%;
  display:inline;
  position:fixed;
  top:0;
  left:0;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: 0px;
  z-index:99
  
}

.add-rem-buttons {
    
    padding-top:20px;
    }



.table-pos{
   margin-top:60px
    
    }
    
    
.new-button{
   position:relative;
   margin-top: 50px;
   margin-left: 110px;
    
    }
    
    
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}